body{
    background-color: #222222;
}
h1, h2{
    color: white;
}

h1{
    font-size: 50px;
}
h2{
    font-weight: normal;
    font-size: 25px;
}

.btn-container{
    position: absolute;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.btn-lang{
            width: 50px;
            height: 50px;
            font-size: 2rem;
            background-color: #222222;
            border: none;
}
.text-container{
    text-align: left;
    margin-left: 20%
}

@media screen and (max-width: 390px) {
    .btn-container{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;  
    }
    .text-container{
        padding-top: 20px;
    }
    .all-container{
        display: flex;
        justify-content: center;
    }
}